footer
	.conteiner
		.footer-block
			.fblock-1
				h3
					a(href="") Buildit
				p
					a(href="") Development company, 2022
				p.design
					a(href="") Site design -
						span Alarm
			.fblock-2
				p
					a(href="") Service 1
				p
					a(href="") Service 2
				p
					a(href="") Service 3
				p
					a(href="") Service 4
				span.foot-back
				span.foot-icon
			.fblock-3
				p
					a(href="") About us
				p
					a(href="") Services
				p
					a(href="") Projects
				p
					a(href="") Contact
			.fblock-4
				p
					a(href="") Get in touch <br>
						span 60 Manor Station St. Fairport, <br>
						span NY 14450
				p.fblock-4-tel
					a(href="") 708-790-0000
				p
					a(href="") sales@buildit.site
