header.header
	nav.nav
		.buildit
			.circle-desk
			a(class="logo-buildit", href="index.html") Buildit
			.buildit-menu
				.circle-mob
				label(for="responsive-menu") Buildit
				input(id="responsive-menu" type="checkbox")
				#overlay
				ul
					li
						a(href="about.html") About
					li
						a(href="services.html") Services
					li
						a(href="projects.html") Projects
					li
						a(href="contact.html") Contact
					li
						button.btn-menu Need a project?
		.navbar
			a(href="about.html") About
			a(href="services.html") Services
			a(href="projects.html") Projects
			a(href="contact.html") Contact
		button.btn-nav Need a project?

