html
	include html/head
	body.body
		section.sec-one
			.conteiner
				include html/header
				.about-owner
					.about-owner-img
						img(class="img-house", src="../img/house.png", alt="house")
						img(class="img-office", src="../img/office.jpg", alt="office")
					.about-owner-text
						a(href="") About us
						h2 Owner and investor with a reputation
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea doloremque sunt iure, excepturi sapiente illum fugit possimus facilis voluptatum sequi atque repellendus repudiandae modi. Nam modi explicabo dignissimos provident distinctio.Fuga est velit minus, repellendus dicta unde deserunt architecto, praesentium nostrum magnam iste consequuntur autem nisi quos similique cumque quidem dolorum eaque nam dolor voluptatum facilis quae voluptas ut. Facere?
		section.sec-two
			.conteiner
				.stat
					a(href="") Statistics
					h2 Development in numbers
					.number
						.num-1
							p >200 <br>
							span Number
						.num-2
							p >70 <br>
							span Number
						.num-3
							p >20 <br>
							span Number
					.logo
						.line-1
						.logo-img
							img(src="../img/N.svg", alt="N")
							img(src="../img/mos.svg", alt="Mosquitall")
							img(src="../img/li.svg", alt="Logo ipsum")
							img(src="../img/di.svg", alt="double infinity")
							img(src="../img/mli.svg", alt="mini Logo ipsum")
						.line-2
		section.sec-five
			.conteiner
				.socials
					.soc-text
						a(href="") Our team
						h2 Let`s meet
					.soc-img-about
						a(href="")
							img(src="../img/face1.png", alt="")
							p Name Surname
							span Worker
						a(href="")
							img(src="../img/face2.png", alt="")
							p Name Surname
							span Worker
						a(href="")
							img(src="../img/face3.png", alt="")
							p Name Surname
							span Worker
						a(href="")
							img(src="../img/face4.png", alt="")
							p Name Surname
							span Worker
						a(href="")
							img(src="../img/face5.png", alt="")
							p Name Surname
							span Worker
						a(href="")
							img(src="../img/face6.png", alt="")
							p Name Surname
							span Worker
						a(href="")
							img(src="../img/face7.png", alt="")
							p Name Surname
							span Worker
						a(href="")
							img(src="../img/face8.png", alt="")
							p Name Surname
							span Worker
						a(href="")
							img(src="../img/face9.png", alt="")
							p Name Surname
							span Worker
					.logo
						.line-1
						.soc-bts
							h2 Call us
							button.soc-bts-call Call
							button Email
						.line-2
		include html/footer

	script(src="js/app.min.js")















