html
	include html/head
	body.body
		section.projects-sec-one
			.conteiner
				include html/header
				.serv-text
					a(href="") Projects
					h2 Owner and investor with a reputation
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque cupiditate maiores suscipit quos exercitationem repudiandae, sed vel, officia molestiae at ducimus aut architecto totam optio inventore nemo praesentium. Laborum, adipisci.
		section.projects-sec-five
			.conteiner
				.soc-text
					h2 Let`s meet
				.soc-img-about
					a(href="")
						img(src="../img/projects-home-1.png", alt="home")
						p Project Surname
						span Info
					a(href="")
						img(src="../img/projects-home-2.png", alt="home")
						p Project Surname
						span Info
					a(href="")
						img(src="../img/projects-home-3.png", alt="home")
						p Project Surname
						span Info
					a(href="")
						img(src="../img/projects-home-1.png", alt="home")
						p Project Surname
						span Info
					a(href="")
						img(src="../img/projects-home-2.png", alt="home")
						p Project Surname
						span Info
					a(href="")
						img(src="../img/projects-home-3.png", alt="home")
						p Project Surname
						span Info
					a(href="")
						img(src="../img/projects-home-1.png", alt="home")
						p Project Surname
						span Info
					a(href="")
						img(src="../img/projects-home-2.png", alt="home")
						p Project Surname
						span Info
					a(href="")
						img(src="../img/projects-home-3.png", alt="home")
						p Project Surname
						span Info
					a(href="")
						img(src="../img/projects-home-1.png", alt="home")
						p Project Surname
						span Info
					a(href="")
						img(src="../img/projects-home-2.png", alt="home")
						p Project Surname
						span Info
					a(href="")
						img(src="../img/projects-home-3.png", alt="home")
						p Project Surname
						span Info
				.btn-more
					button More
		section.projects-sec-six
			.conteiner
				.logo
					.line-1
					.soc-bts
						h2 Call us
						button.soc-bts-call Call
						button Email
					.line-2
		include html/footer
	script(src="js/app.min.js")
















