html
	include html/head
	body.body
		section.service-sec-one
			.conteiner
				include html/header
				.serv-text
					a(href="") Services
					h2 Owner and investor with a reputation
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque cupiditate maiores suscipit quos exercitationem repudiandae, sed vel, officia molestiae at ducimus aut architecto totam optio inventore nemo praesentium. Laborum, adipisci.
		section.services-sec-two
			.conteiner
				.one-owner
					.one-owner-img
						img(src="../img/service-office.png", alt="building")
					.one-owner-text
						a(href="") Service
						h2 Feature listing
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea doloremque sunt iure, excepturi sapiente illum fugit possimus facilis voluptatum sequi atque repellendus repudiandae modi. Nam modi explicabo dignissimos provident distinctio.
						.one-owner-stat
							.one-ow-st-1
								p Name
								span Statistics
							.one-ow-st-2
								p Name
								span Statistics
							a(class='service-seemore', href="") See more
		section.services-sec-two
			.conteiner
				.two-owner
					.two-owner-text
						a(href="") Service
						h2 Feature listing
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea doloremque sunt iure, excepturi sapiente illum fugit possimus facilis voluptatum sequi atque repellendus repudiandae modi. Nam modi explicabo dignissimos provident distinctio.
						.two-owner-stat
							.two-ow-st-1
								span Lorem ipsum dolor sit. Animi, laborum possimus velit consequuntur, amet ipsam.
							.two-ow-st-2
								span Lorem ipsum dolor sit. Animi, laborum possimus velit consequuntur, amet ipsam.
							a(class='service-seemore-2', href="") See more
					.two-owner-img
						img(src="../img/service-house.png", alt="building")
		section.services-sec-two
			.conteiner
				.three-owner
					.three-owner-img
						img(src="../img/service-office.png", alt="building")
					.three-owner-text
						a(href="") Service
						h2 Feature listing
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea doloremque sunt iure, excepturi sapiente illum fugit possimus facilis voluptatum sequi atque repellendus repudiandae modi. Nam modi explicabo dignissimos provident distinctio.
						.three-owner-stat
							.three-ow-st-1
								p Name
								span Statistics
							.three-ow-st-2
								p Name
								span Statistics
							a(class='service-seemore', href="") See more
				.logo
					.service-logo
					.line-1
					.soc-bts
						h2 Call us
						button.soc-bts-call Call
						button Email
					.line-2
		include html/footer
	script(src="js/app.min.js")









