@import 'reset';
@font-face {
	font-family: 'Noto sans';
	font-style: normal;
	font-weight: 500;
	src: local('NotoSans-Regular'), local('NotoSans-Regular'),
		url('../fonts/NotoSans-Regular.woff2') format('woff2'),
		url('../fonts/NotoSans-Regular.woff') format('woff'),
		url('../fonts/NotoSans-Regular.ttf') format('truetype');
}

// Title page
// box-shadow: 0px 5px 10px #43434333;

.body {
	position: relative;
	z-index: -10;
	text-shadow: 0px 5px 10px #5050505d;
}

a {
	text-decoration: none;
}

button {
	padding: 10px 20px;
	font-style: normal;
	font-size: 16px;
	height: 40px;
	border-radius: 5px;
	color: #fff;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
		7px 7px 20px 0px rgba(0, 0, 0, .1),
		4px 4px 5px 0px rgba(0, 0, 0, .1);
	outline: none;
	background-image: linear-gradient(315deg, #89d8d3 0%, #4397A4 70%);
	border: none;
	z-index: 1;
	&:after {
		position: absolute;
		content: "";
		width: 100%;
		height: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		border-radius: 5px;
		background-image: linear-gradient(315deg, #4397A4 0%, #6bccc6 120%);
		box-shadow:
			-7px -7px 20px 0px #fff9,
			-4px -4px 5px 0px #fff9,
			7px 7px 20px 0px #0002,
			4px 4px 5px 0px #0001;
		transition: all 0.3s ease;
	}
	&:hover {
		color: #fff;
	}
	&:hover:after {
		top: 0;
		height: 100%;
	}
	&:active {
		top: 2px;
	}
}

.conteiner {
	margin: 0 auto;
	width: 80%;
}

.header {
	padding: 45px 0;
}

.sec-one, .service-sec-one, .contact-sec-one {
	position: relative;
	font-family: 'Noto Sans';
	font-style: normal;
	background-color: #d5e4fd;
	z-index: -6;
	.rect {
		position: absolute;
		background: url("../img/Figure.svg") no-repeat;
		top: -20px;
		right: 0;
		bottom: 0px;
		z-index: -4;
		width: 740px;
		height: 1000px;
	}
}

.buildit-menu {
	display: none;
}

.nav {
	display: flex;
	align-items: center;
	margin: 20px 5px 60px 5px;
	.buildit {
		display: inherit;
		align-items: center;
		flex-direction: row;
		a {
			font-weight: 700;
			font-size: 24px;
		}
		.circle-desk {
			background-color: #4397A4;
			width: 50px;
			height: 50px;
			border-radius: 50px;
			box-shadow: 0px 5px 10px #43434333;
		}
		.logo-buildit {
			font-size: 24px;
			font-weight: 700;
			padding: 0 20px;
			color: #486A6F;
		}
	}
	a {
		font-size: 16px;
		font-weight: 500;
		color: #678C92;
		padding: 0 20px;
	}
	.navbar {
		margin: 0 auto;
	}
	button {
		margin-left: auto;
	}
}

.services {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	font-family: 'Noto Sans';
	font-style: normal;
	color: #48666A;
	padding-bottom: 50px;
	.services-text {
		padding-top: 130px;
		width: 430px;
		h1 {
			font-size: 64px;
			font-weight: 700;
			line-height: 1;
		}
		p {
			font-size: 22px;
			font-weight: 400;
			margin-bottom: 80px;
			margin-top: 40px;
		}
		.but-ser {
			font-weight: 700;
			font-size: 16px;
			width: 6em;
		}
		.but-about {
			font-weight: 700;
			font-size: 16px;
			margin-left: 20px;
			background-color: #C6DBFF;
			width: 12em;
			color: #ffffff;
		}
	}
	.services-img {
		display: flex;
		flex-direction: column;
		margin-left: auto;
		margin-right: 5px;
		img {
			box-shadow: 0px 5px 10px #43434333;
		}
		.s-i-up {
			display: flex;
			flex-direction: row;
			margin-bottom: 40px;
			.i1 {
				margin-top: auto;
				margin-left: 40px;
				width: 110px;
				height: 110px;
			}
			.i2 {
				width: 200px;
				height: 200px;
				margin: 0 40px;
			}
			.i3 {
				margin-top: auto;
				width: 80px;
				height: 80px;
			}
		}
		.s-i-down {
			display: flex;
			flex-direction: row;
			.i4 {
				width: 290px;
				height: 290px;
				margin-right: 40px;
			}
			.i5 {
				width: 150px;
				height: 150px;
			}
		}
	}
}

.sec-two {
	background-color: #f4f7ff;
	font-family: 'Noto sans';
	font-weight: 700;
	padding: 200px 0 120px 0;
	h2 {
		text-align: center;
		font-style: normal;
		font-weight: 700;
		font-size: 36px;
		color: #486A6F;
		padding-bottom: 80px;
	}
}

.cards {
	display: flex;
	flex-direction: row;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	color: #486A6F;
	h3 {
		padding-top: 30px;
	}
	div {
		position: relative;
		margin: 20px;
		padding: 50px;
		h3 {
			font-size: 24px;
		}
		.backg {
			position: absolute;
			background-color: #699198;
			width: 70px;
			height: 70px;
			margin: 0;
			padding: 0;
			top: -20px;
			left: 50px;
			border-radius: 5px;
			box-shadow: 0px 5px 10px #43434333;
			img {
				position: absolute;
				right: 18px;
				bottom: 21px;
				width: 35px;
				height: 30px;
			}
		}
	}
	p {
		font-weight: 500;
		font-size: 16px;
	}
}

.sec-three {
	background-color: #e1ebfa;
	padding: 80px 0;
}

.services-sec-two {
	background-color: #fff;
	padding: 60px 0 100px 0;
}

.logo {
	position: relative;

	.line-1 {
		position: absolute;
		box-shadow: 0px 5px 10px #43434333;
		border-bottom: 2px solid #678C92;
		top: 0;
		left: 0;
		width: 100%;
	}

	.line-2 {
		position: absolute;
		box-shadow: 0px 5px 10px #43434333;
		border-bottom: 2px solid #678C92;
		bottom: 0;
		left: 0;
		width: 100%;
	}

	.logo-img {
		display: flex;
		justify-content: center;
		padding: 20px 0;

		img {
			height: 60px;
			padding: 10px 20px;
		}
	}
}

.owner, .one-owner, .two-owner, .three-owner {
	position: relative;
	display: flex;
	flex-direction: row;
	padding: 40px 0;
	.owner-img, .one-owner-img, .two-owner-img, .three-owner-img {
		padding: 60px 20px 60px 60px;
		width: 50%;
	}
	.service-seemore {
		position: absolute;
		right: 30px;
		font-family: 'Noto Sans';
		font-weight: 700;
		color: #4397A4;
		bottom: -70px;
		&::after {
			position: absolute;
			content: '\1F87A';
			right: -30px;
		}
	}
	.service-seemore-2 {
		position: absolute;
		bottom: 50px;
		font-family: 'Noto Sans';
		font-weight: 700;
		color: #4397A4;
		bottom: -70px;
		&::after {
			position: absolute;
			content: '\1F87A';
			right: -30px
		}
	}
}

.owner-text, .one-owner-text, .two-owner-text, .three-owner-text {
	position: relative;
	padding: 20px 100px 60px 20px;
	width: 50%;
	font-family: 'Noto Sans';

	a {
		display: block;
		padding-bottom: 20px;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		color: #5BCCDE;
	}

	h2 {
		font-style: normal;
		font-weight: 700;
		font-size: 36px;
		color: #486A6F;
	}
	p {
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		color: #678C92;
		padding: 20px 0;
		height: 50%;
	}

	button {
		margin-top: 60px;
		width: 10em;
	}
}

.two-owner-text {
	padding: 20px 20px 60px 20px;
}

.sec-four {
	background-color: #f4f7ff;
	padding: 80px 0 80px 0;
}

.sec-five, .projects-sec-five {
	background-color: #e1ebfa;
	padding: 80px 0 80px 0;
}

.soc-text {
	font-family: 'Noto Sans';
	text-align: center;
	a {
		display: block;
		padding-bottom: 20px;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		color: #5BCCDE;
	}

	h2 {
		font-style: normal;
		font-weight: 700;
		font-size: 36px;
		color: #486A6F;
	}
}

.soc-img {
	display: flex;
	flex-wrap: wrap;
	padding: 60px 80px;
	justify-content: center;
	a {
		display: block;
		margin: 10px;
		width: 300px;
	}
}

.contact {
	background-color: #f4f7ff;
	padding: 80px 0 80px 0;
}

.con-block {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.con-info {
	font-family: 'Noto Sans';
	font-style: normal;
	padding-right: 20px;
	width: 380px;
	a {
		display: block;
		padding-bottom: 20px;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		color: #5BCCDE;
	}

	h2 {
		font-weight: 700;
		font-size: 36px;
		color: #486A6F;
		padding-bottom: 80px;
	}

	.link1, .link2, .link3 {
		display: block;
		position: relative;
		padding: 0 0 0 90px;
		margin-bottom: 20px;
		&:before {
			position: absolute;
			content: '';
			top: -10px;
			left: 0;
			width: 70px;
			height: 70px;
			border-radius: 5px;
			box-shadow: 0px 5px 10px #43434333;
			background-color: #cde0fe;
		}
		a {
			position: relative;
			color: #486A6F;
		}
		p {
			font-weight: 700;
			font-size: 20px;
		}
	}
	.link1 {
		&:after {
			position: absolute;
			content: '';
			top: 10px;
			left: 22px;
			width: 30px;
			height: 30px;
			background: url('../img/tel.svg') no-repeat;
		}
	}
	.link2 {
		&:after {
			position: absolute;
			content: '';
			top: 10px;
			left: 21px;
			width: 30px;
			height: 30px;
			background: url('../img/email.svg') no-repeat;
		}
	}
	.link3 {
		&:after {
			position: absolute;
			content: '';
			top: 10px;
			left: 20px;
			width: 30px;
			height: 30px;
			background: url('../img/label.svg') no-repeat;
		}
	}
}

.con-form {
	.form {
		background-color: #d8e6fc;
		border-radius: 5px;
		box-shadow: 0px 5px 10px #43434333;
		padding: 40px;
		font-family: 'Noto Sans';
		font-weight: 400;
		font-size: 14px;
		color: #486A6F;
		text-shadow: none;
		input, textarea {
			border: 1px solid #486A6F;
			border-radius: 2px;
			margin-top: 5px;
			line-height: 2;
			padding-left: 5px;
			&:focus {
				outline: none;
				background-color: #fff;
			}
		}
		textarea {
			width: 100%;
			height: 150px;
		}
		label {
			display: block;
		}
		.form-name {
			display: flex;
			margin-bottom: 20px;
			justify-content: space-between;
			#label-name {
				margin-right: 20px;
			}
		}
		#subject {
			width: 100%;
			margin-bottom: 20px;
		}
		#submit {
			color: #fff;
			font-weight: 700;
			font-size: 16px;
			width: 100%;
			padding: 10px;
			margin-top: 20px;
			background-color: #4499a7;
			border-radius: 5px;
		}
	}

}

footer {
	background-color: #486e74;
	padding: 80px 0 80px 0;
}

.footer-block {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-family: 'Noto Sans';
}

.fblock-1, .fblock-2, .fblock-3, .fblock-4 {
	width: 200px;
	padding: 0 5px;
	p {
		padding-bottom: 20px;
	}
	h3 {
		padding-bottom: 20px;
		a {
			font-size: 24px;
		}
	}
	a {
		font-size: 16px;
		color: #F4F7FF;
	}
}

.fblock-1 {
	position: relative;
	.design {
		position: absolute;
		bottom: 0;
		left: 5px;
		padding: 0;
		a {
			span {
				position: relative;
				padding-left: 30px;
				text-decoration: underline;
				&:before {
					position: absolute;
					content: "";
					top: -2px;
					left: 8px;
					width: 20px;
					height: 20px;
					background: url("../img/alarm.svg") no-repeat;
				}
			}
		}
	}
}

.fblock-4 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	p {
		padding: 0;
	}
	.fblock-4-tel {
		margin-top: auto;
	}
}

.fblock-2 {
	.foot-icon {
		position: relative;
		&:before {
			position: absolute;
			content: "";
			bottom: -22px;
			left: 9px;
			width: 25px;
			height: 25px;
			background: url("../img/instagram.svg") no-repeat;
			z-index: 1;
		}
		&:after {
			position: absolute;
			content: "";
			bottom: -19px;
			left: 60px;
			width: 20px;
			height: 20px;
			background: url("../img/facebook.svg") no-repeat;
		}
	}
	.foot-back {
		position: relative;
		&:before {
			position: absolute;
			content: "";
			bottom: -30px;
			left: 0;
			width: 40px;
			height: 40px;
			border-radius: 5px;
			background-color: #678c92;
		}
		&:after {
			position: absolute;
			content: "";
			bottom: -30px;
			left: 50px;
			width: 40px;
			height: 40px;
			background-color: #678c92;
			border-radius: 5px;
		}
	}
}

// Page about

.about-owner {
	display: flex;
	flex-direction: row;
	padding: 0 0 100px 0;

	.about-owner-img {
		position: relative;
		padding: 60px 40px 60px 60px;
		width: 50%;
		img {
			border-radius: 10px;
		}
		.img-house {
			width: 70%;
		}
		.img-office {
			position: absolute;
			right: 40px;
			bottom: 0;
			width: 40%;
		}
	}
}

.about-owner-text {
	padding: 100px 100px 40px 20px;
	width: 50%;
	font-family: 'Noto Sans';

	a {
		display: block;
		padding-bottom: 20px;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		color: #5BCCDE;
	}

	h2 {
		font-style: normal;
		font-weight: 700;
		font-size: 36px;
		color: #486A6F;
	}

	p {
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		color: #678C92;
		padding: 20px 0;
	}
}

.stat {
	padding: 60px 0;
	text-align: center;
	a {
		display: block;
		padding-bottom: 20px;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		color: #5BCCDE;
	}

	h2 {
		font-style: normal;
		font-weight: 700;
		font-size: 36px;
		color: #486A6F;
		margin-bottom: 80px;
	}
}

.number {
	background: linear-gradient(88.65deg, #C6DBFF 0%, #E1EBFA 100%);
	padding: 20px 40px;
	margin: 40px 40px 80px 40px;
	border-radius: 5px;
	box-shadow: 0px 5px 10px #43434333;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: start;
	font-weight: 700;
	p {
		position: relative;
		font-size: 36px;
		color: #486A6F;
		padding: 0 0 0 140px;
	}
	span {
		font-size: 16px;
		color: #678C92;
		padding: 0 0 0 140px;
	}
	.num-1 {
		position: relative;
		width: 300px;
		margin-left: auto;
		&::after{
			position: absolute;
			content: "";
			top: 18px;
			left: 60px;
			width: 29px;
			height: 41px;
			background: url("../img/map-maker.svg") no-repeat;
		}
		&::before {
			position: absolute;
			content: "";
			top: 5px;
			left: 40px;
			height: 70px;
			width: 70px;
			background-color: #678C92;
			border-radius: 5px;
		}
	}
	.num-2 {
		position: relative;
		width: 300px;
		&::after {
			position: absolute;
			content: "";
			top: 15px;
			left: 49px;
			width: 49px;
			height: 45px;
			background: url("../img/house.svg") no-repeat;
		}
		&::before {
			position: absolute;
			content: "";
			top: 5px;
			left: 40px;
			height: 70px;
			width: 70px;
			background-color: #678C92;
			border-radius: 5px;
		}
		p:before {
			position: absolute;
			content: "";
			top: 10px;
			left: -26px;
			border-left: 2px solid #678C92;
			height: 60px;
		}
		p:after {
			position: absolute;
			content: "";
			top: 10px;
			right: 26px;
			border-left: 2px solid #678C92;
			height: 60px;
		}
	}
	.num-3 {
		position: relative;
		width: 300px;
		margin-right: auto;
		&::after {
			position: absolute;
			content: "";
			top: 20px;
			left: 47px;
			width: 57px;
			height: 38px;
			background: url("../img/handshake.svg") no-repeat;
		}
		&::before {
			position: absolute;
			content: "";
			top: 5px;
			left: 40px;
			height: 70px;
			width: 70px;
			background-color: #678C92;
			border-radius: 5px;
		}
	}
}

.soc-img-about {
	display: flex;
	flex-wrap: wrap;
	padding: 60px 80px;
	justify-content: center;
	font-family: 'Noto Sans';
	font-weight: 700;
	font-size: 16px;
	a {
		display: block;
		margin: 20px;
		width: 300px;
		background: linear-gradient(88.65deg, #C6DBFF 0%, #E1EBFA 100%);
		border-radius: 5px;
		padding-bottom: 20px;
		box-shadow: 0px 5px 10px #43434333;
		p {
			padding: 20px 20px 0 20px;
			color: #486A6F;
		}
		span {
			font-weight: 500;
			padding-left: 20px;
			color: #678C92;
		}
	}

	img {
		height: 260px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
}

.soc-bts {
	display: flex;
	padding: 20px 0;
	font-family: 'Noto Sans';
	font-weight: 700;
	h2 {
		font-size: 36px;
		margin: 40px 0;
		color: #486A6F;
	}
	.soc-bts-call {
		margin: auto 20px auto auto;
	}
	button {
		margin: auto 0;
		width: 200px;
		height: 50px;
	}

}

// Page service

.service-sec-one, .projects-sec-one {
	position: relative;
	background: url('../img/service-background.png') no-repeat;
	background-size: 100%;
	font-family: 'Noto Sans';
	z-index: -5;
	&::before {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(42.43deg, rgba(198, 219, 255, 0.9) 0%, #e1ebfae5 52.25%);
		z-index: -4;
	}
}

.serv-text {
	margin: 0 auto;
	width: 460px;
	text-align: center;
	padding-bottom: 38%;
	a {
		color:#5BCCDE;
	}
	h2 {
		color: #486A6F;
		margin: 20px 0;
	}
	p {
		color: #678C92;
	}
}

.owner-stat, .one-owner-stat, .two-owner-stat, .three-owner-stat {
	position: relative;
	display: flex;
	width: 100%;
	bottom: 0;
	left: 0;
	.ow-st-1, .one-ow-st-1, .two-ow-st-1, .three-ow-st-1 {
		margin-right: 20px;
	}
	.ow-st-1, .ow-st-2, .one-ow-st-1, .one-ow-st-2, .two-ow-st-1, .two-ow-st-2, .three-ow-st-1,
	.three-ow-st-2 {
		width: 100%;
		padding: 20px;
		background-color: #C6DBFF;
		box-shadow: 0px 5px 10px #43434333;
		p {
			font-weight: 700;
			padding: 0 0 20px 0;
			color: #486A6F;
		}
		span {
			font-weight: 500;
			color: #678C92;
		}
	}
}

.service-logo {
	margin-top: 100px;
}

// Page project

.projects-sec-one {
	background: url('../img/projects-background.png') no-repeat;
	background-size: 100%;
}

.projects-sec-five {
	background-color: #fff;
}

.btn-more {
	display: flex;
	font-family: 'Noto Sans';
	font-weight: 700;
	font-size: 16px;
	button {
		margin: auto;
		width: 200px;
	}
}

.projects-sec-six {
	background-color: #e1ebfa;
	padding: 100px 0;
}

// Page contact

.contact-sec-one {
	.con-block {
		padding: 0 0 100px 0;
	}
	.link1, .link2, .link3 {
		&::before {
			background-color: #e1ebfa;
		}
	}
}

// Media

/* xl-размер (>=1200px) */
/* CSS для >=1200px */

/* lg-размер (<=1199px) */
@media (max-width: 1199px) {
	/* CSS для ширины от 992px до 1199px */
	.services {
		padding-bottom: 80px;
		.services-text {
			padding: 0;
			margin: 0 auto;
		}
		.services-img {
			padding-bottom: 60px;
			margin: 0 auto;
		}
	}
	.rect {
		display: none;
	}
	.sec-two {
		padding: 80px 0;
	}
	.cards div {
		margin: 0;
	}
	.about-owner {
		.about-owner-img {
			padding: 40px 20px 0 0;
			.img-house {
				width: 100%;
			}
			.img-office {
				display: none;
			}
		}
		.about-owner-text {
			padding: 40px 0 0 20px;
		}
	}
	.number .num-2 {
		p:before {
			display: none;
		}

		p:after {
			display: none;
		}
	}
	.owner .owner-img {
		padding: 20px 20px 0 0;
	}
	.owner-text {
		padding: 20px 0 0 20px;
	}
	.owner-stat {
		padding: 0;
		.service-seemore {
			right: 30px;
		}
	}
	.two-owner-stat {
		padding: 0 60px 0 0;
	}
	.serv-text {
		padding-bottom: 29%;
	}
}

/* md-размер (<=991px) */
@media (max-width: 999px) {
	/* CSS для ширины от 768px до 991px */
	.nav a {
		padding: 0 10px;
	}
	.logo .logo-img img {
		padding: 10px;
	}
	.con-info {
		margin: 0 auto;
	}
	.con-form {
		margin: 40px auto;
	}
	.owner {
		.owner-text {
			padding: 20px;
		}
		.owner-img {
			padding: 20px;
		}
	}
	.sec-four .owner-text {
		width: auto;
		padding: 20px;
	}
	.number {
		flex-direction: column;
		margin: 0 0 60px 0;
		.num-1, .num-2, .num-3 {
			margin: 0 auto;
		}
	}
	.serv-text {
		padding-bottom: 14%;
	}
	.one-owner, .three-owner {
		.one-owner-img, .three-owner-img {
			padding: 0 20px 0 0;
		}
		.one-owner-text, .three-owner-text {
			padding: 0 0 0 20px;
		}
	}
	.two-owner-stat {
		flex-direction: column;
		padding: 0 20px 0 0;
		.two-ow-st-2 {
			margin: 20px 0 0 0;
		}
	}
	.two-owner-text {
		padding: 0 20px 0 0;
	}
	.two-owner {
		margin-bottom: 60px;
		.two-owner-img {
		padding: 0 0 0 20px;
		}
	}
}

/* sm-размер (<=768px) */
@media (max-width: 799px) {
	/* CSS для ширины от 576px до 767px */
	.conteiner {
		width: 90%;
	}
	.cards {
		flex-wrap: wrap;
		width: 400px;
		margin: 0 auto;
		div {
			padding: 50px 0 50px 50px;
		}
	}
	.owner {
		padding: 0;
		.owner-img {
			display: none;
		}
		.owner-text {
			width: auto;
		}
	}
	.soc-bts button {
		width: 150px;
	}
	.footer-block {
		width: 300px;
		margin: 0 auto;
		flex-direction: column;
		.fblock-2 {
			&::before {
				bottom: 16px;
				left: 9px;
			}
			&::after {
				bottom: 20px;
				left: 61px;
			}
		}
		div {
			padding: 40px 0;
		}
	}

	.navbar {
		display: none;
	}

	.circle-desk {
		position: relative;
		&::before {
			position: absolute;
			content: '\FE3E';
			font-size: 30px;
			color: #fff;
			left: 10px;
			top: 6px;
		}
	}

	.logo-buildit, .cirle-desk {
		display: none;
	}
	.nav {
		margin: 20px 5px 0 5px;
	}
	.serv-text {
		padding-bottom: 7%;
	}
	.buildit-menu {
		display: block;
		font-size: 24px;
		font-weight: 700;
		margin: 0 auto 0 0;
		color: #48666A;
		label {
			display: block;
			cursor: pointer;
			padding: 0.5em;
		}
		input {
			position: absolute;
			opacity: 0;
			z-index: -1;
		}
		input:checked ~ #overlay {
			border-radius: 25px;
			left: -65px;
			top: -10px;
			z-index: -1;
		}
		input:checked ~ ul {
			position: absolute;
			max-height: inherit;
			opacity: 1;
			background-image: linear-gradient(0deg, #89d8d3 0%, #70bbc7 70%);
			width: 75%;
			text-align: center;
			border-radius: 30px;
			padding: 20px;
			z-index: 5;
		}
		ul {
			list-style: none;
			margin: 0;
			max-height: 0;
			opacity: 0;
			overflow: hidden;
			padding: 0;
		}
		ul>li {
			margin: 0.5em 0;
			a {
				color: #fff;
			}
		}
	}
	.about-owner {
		text-align: center;
		flex-direction: column;
		padding: 0 0 60px 0;
		.about-owner-img {
			padding: 0 0 40px 0;
			width: auto;
		}
		.about-owner-text {
			padding: 0;
			width: auto;
		}
	}
	.number {
		margin: 0;
	}
	.stat {
		padding: 0;
	}
	.one-owner, .three-owner {
		display: block;
		text-align: center;
		padding: 0;
		.one-owner-img, .one-owner-text, .three-owner-img, .three-owner-text {
			width: 100%;
			padding: 0;
		}
		.one-owner-text, .three-owner-text {
			margin-top: 40px;
			p {
				height: auto;
			}
		}
	}
	.two-owner {
		flex-wrap: wrap-reverse;
		text-align: center;
		margin: 0;
		.two-owner-img, .two-owner-text {
			width: 100%;
			padding: 0;
		}
		.two-owner-text {
			padding-top: 40px;
			p {
				height: auto;
			}
		}
		.two-owner-stat {
			padding: 0;
		}
	}
	.services-sec-two {
		padding: 80px 0;
	}
	.projects-sec-one .header {
		padding: 20px 0;
	}
	.sec-two {
		.stat h2 {
			margin: 0;
		}
		.logo {
			display: none;
		}
	}
}

@media (min-width: 600px) {
	.btn-menu {
		display: none;
	}
}

/* xs-размер (<=575px) */
@media (max-width: 599px) {
	/* CSS для ширины до 575px (включительно) */
	.header {
		padding: 20px 0;
	}

	.nav {
		margin: 20px 5px;
	}

	.btn-nav {
		display: none;
	}

	.buildit {
		margin: 0 auto;
	}

	.buildit-menu input:checked~ul {
		left: 4%;
		width: 92%;
	}

	.services .services-img .s-i-up {
		flex-direction: column;
		margin: 0;
		.i1, .i2, .i3 {
			margin: 10px auto;
			width: 300px;
			height: 300px;
		}
	}
	.services .services-img .s-i-down {
		flex-direction: column;
		.i4, .i5 {
			margin: 10px auto;
			width: 300px;
			height: 300px;
		}
	}
	.services .services-text {
		text-align: center;
		width: 100%;
	}
	.cards {
		text-align: center;
		width: 100%;
		div {
			padding: 50px 0;
			width: 100%;
			.backg {
				left: 40%;
			}
		}
	}
	.owner .owner-text {
		text-align: center;
	}
	.sec-four .owner-text {
		text-align: center;
	}
	.con-form {
		margin: 40px 0;
		width: 100%;
			.form {
			.form-name {
				display: block;
			}
		}
	}
	.con-form .form .form-name #label-name {
		margin: 0;
	}
	.con-form .form input,
	.con-form .form textarea {
		width: 100%;
	}
	.soc-img {
		padding: 60px 0;
		a {
			width: auto;
		}
	}
	.services .services-text {
		p {
			font-size: 20px;
		}
		h1 {
			font-size: 46px;
		}
		.but-ser {
			margin: 20px;
		}
		.but-about {
			margin-left: 0;
		}
	}
	footer {
		padding: 50px 0;
	}
	.footer-block {
		width: auto;
		text-align: center;
		.fblock-1 .design {
			right: 0px;
		}
		.fblock-2 {
			.foot-back {
				&:before {
					left: -50px;
				}
				&:after {
					left: 0;
				}
			}
			.foot-icon {
				&:before {
					left: -41px;
				}

				&:after {
					left: 10px;
				}
			}
		}
		div {
			width: 100%;
		}
	}
	.soc-img-about {
		padding: 40px 0;
		a {
			margin: 20px 0;
			width: 280px;
		}
	}
	.service-sec-one {
		background: none;
	}
	.serv-text {
		width: 100%;
		padding: 60px 0;
	}
	.number {
		padding: 20px;
		.num-1, .num-2, .num-3 {
			width: 240px;
			p, span {
				padding: 0 0 0 130px;
			}
		}
	}
	.stat h2 {
		margin: 0;
	}
	.one-owner-stat, .three-owner-stat {
		flex-wrap: wrap;
		.one-ow-st-1, .three-ow-st-1 {
			margin: 0 0 20px 0;
		}
	}
	.projects-sec-one {
		background: none;
		.serv-text {
			padding: 20px 0 60px 0;
		}
	}
	.projects-sec-six {
		display: none;
	}
	.contact-sec-one .con-block {
		padding: 0;
	}
	.con-info {
		padding: 0;
		.con-info-contact, h2 {
			text-align: center;
		}
	}
	.socials .logo {
		display: none;
	}
}